@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
    --fontepadrão: 'Sriracha', 'cursive';
    --fontedestaque: 'Passion One', sans-serif;


}
*{
    margin: 0px;
    padding: 0px;
}


header{
    font-family: var(--fontedestaque);
    font-size: 4vw;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    
    
    
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
    
    
}
nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
main{
    font-family: var(--fontepadrão);
    font-size: 4vw;
    
}
main p{
    margin-left: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    
}
#foto1{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    padding: 10px;
    
   
    
}
#foto1>p{
    background-color: rgba(0, 0, 0, 0.348);
    display: inline-block;
    color: white;
    padding: 5px;
    
}
#foto2{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    padding: 10px;
    
    
}
#foto2>p{
    background-color: rgba(0, 0, 0, 0.348);
   
    display: inline-block;
    color: white;
    padding: 5px;
    
}
footer{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}
footer a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}